<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="/static/img/logo-tubarao-01.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
            {% block empresa %}{{ rsoc }}{% endblock %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>      
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav me-auto">
                <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produtos
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Auditorias</a></li>
                    <li><a class="dropdown-item" href="#">Gestão Hoteleira</a></li>
                    <li><a class="dropdown-item" href="#">Gestão Municipal</a></li>
                </ul>
                {% if g.user %}
                {% if (g.user['class_id'] == 1): %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Loja
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Cadastro de Compras</a></li>
                    <li><a class="dropdown-item" href="#">Cadastro de Vendas</a></li>
                    <li><a class="dropdown-item" href="#">Cadastro de Produtos</a></li>
                    <li><a class="dropdown-item" href="#">Relatorios</a></li>
                </ul>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Gerenciamento do Sistema
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Cadastro de Tipo de Usuario</a></li>
                    <li><a class="dropdown-item" href="#">Alteracao de Perfil de Usuario</a></li>
                </ul>
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Quadra
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="#">Reservas</a></li>
                    <li><a class="dropdown-item" href="#">Cadastro de Horarios</a></li>
                    <li><a class="dropdown-item" href="#">Cadastros de itens</a></li>
                </ul>
                {% endif %}
                {% endif %}
            </div>
            {% if g.user %}
            <div class="navbar-nav ms-auto">
                <a class="nav-link" style="color: lawngreen; font-weigth: bold;">
                    <i class="fa-regular fa-user"></i> 
                    Bem vindo, {{ g.user['username'] }}
                </a>
                <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </div>
            {% else %}
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
                <a class="nav-link" href="{{ url_for('auth.register') }}">Cadastro</a>
            </div>
            {% endif %}
        </div>    
    </div>
</nav>
<div class="row justify-content-center align-items-center mb-5 h-100"></div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close">
        </button>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
{% endwith %}  
</div>
